:root{
    --logo-color:#000000;
    --text-color-white: #fff;
    --background-color-white: #FFFFFF;
    --background-color-dark: #2F303A;
    --backgraund-portfolio: 1px solid #EEEEEE;
    --background-color-grey: #F5F4FA;
    --active-color-blue : #2196F3;
    --title-color: #212121;
    --text-color-grey: #757575;
    --button-active-back-color: #188CE8;
    --rgba-color: rgba(255, 255, 255, 0.6);
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.link {
    text-decoration: none;}

.list {
    list-style: none;
    font-style: normal;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-white);
    
}

/* ====header==== */
.page-header {
    padding-top: 25px;
    padding-bottom: 25px;
}
.page-header-container {
    display: flex;
    align-items: center;
}

.menu-container{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 50px;
}
.upper-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    margin-right: 95px;

}

.logo-blue {
    color: var(--active-color-blue)
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.mail-address,
.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color-grey);
}

.link:hover,
.link:focus {
    color: var(--active-color-blue);
}

.menu-link:current{
    color: var(--active-color-blue);
}

/* ======header====== */

/* =======heading=========== */

.section-title {
    background-color: var(--background-color-dark);
    padding-top: 200px;
    padding-bottom: 200px;
}

.heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-white);
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.modal-open-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--active-color-blue);
    color: var(--background-color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}

.modal-open-btn:hover,
.modal-open-btn:focus{
    background-color:var(--button-active-back-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px
}

/* =======heading=========== */

/* =========preference========= */
.preference-container {
    display: flex;
    column-gap: 30px;
    padding-top: 95px;
    padding-bottom: 95px;
}

.preference-list {
    flex-basis: calc((100%-90)/4);
}

.preference {
    font-size: 0;
}

.preference-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.preference-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-color);
}

.preference-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color-grey);
}

/* =========preference========= */

/* =========section-work========== */

.headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.work-container {
    display: flex;
    column-gap: 30px;
}

.page-item {
    flex-basis: calc((100%-60)/3);
}

.section-work {
    padding-bottom: 95px;
}
/* =========section-work========== */

/* ========section-features========= */


.section-features {
    background-color:var(--background-color-grey);
    padding-top: 95px;
    padding-bottom: 95px;
}

.team-container {
    display: flex;
    column-gap: 30px;
}

.headline-list {
    text-align: center;
    flex-basis: calc((100%-90)/4);
}

.name-employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
    
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--text-color-grey)

}

/* ======section-features============= */

/* =========footer=========== */

.footer {
    background-color: var(--background-color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-down { 
    text-decoration: none;
}

.logo-down {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--text-color-white);
}

.logo-container {
    margin-bottom: 20px;
}

.address-link {
    color:var(--text-color-white);
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    color: var(--text-color-white);
}

.footer-email,
.footer-number {
    color: var(--text-color-white);
}

.footer-email,
.footer-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--rgba-color);
}

/* =====footer======== */

/* ======PORTFOLIO======= */
.catalog {
   padding-top: 95px;
   padding-bottom: 95px;
}
/* ======filter====== */
.filter {
    display: flex;
    column-gap: 8px;
    margin-bottom: 50px;
}

.filter-container {
    display: flex;
}

.filter-dutton {
    color: var(--rgba-color);
}

.catalog {
    background-color: var(--backgraund-portfolio);
}

.button-container {
    margin-left: auto;
    margin-right: auto;
}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background:var(--background-color-grey);
    border-radius: 4px;
    color: var(--title-color);
}

.filter-dutton:hover,
.filter-dutton:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color-white);
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/* ======filter====== */

/* =======project====== */
.project {
    width: 370;
}

.project-list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}

.project-cintainer {
    padding: 20px 24px;
}

.project-caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-color);
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--text-color-grey);
    border-radius: 4px;
}
/* =======project====== */